@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;

}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

/* Nav Menu*/
.header{
    border-bottom: 1px solid #E2E8F0;
    background-color:#000;
}

.navbar {
    width: calc(100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

/* Hamburger Menu*/
.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

.nav-menu-right {
    margin-left: 40px ;
    width: calc(20%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
}

.nav-menu-left {
    margin-right: 40px;
    width: calc(20%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
}

.nav-item {
    margin-left: 5rem;
}

.nav-link{
    font-size: 1.6rem;
    font-weight: 400;
    color: #fff;
}

.nav-link:hover{
    color: #8d8f7d;
}

#social-media-icon i{    
    color:#fff;
}

#social-media-icon i:hover{    
    color:#8d8f7d;
}


#social-media-icon-1 i{
    padding-left: 5rem;
    color:#fff;
}


#social-media-icon-1 i:hover{    
    color:#8d8f7d;
}

#social-media-icon-2 i{
    color:#fff;
}

#social-media-icon-2 i:hover{    
    color:#8d8f7d;
}


#social-media-icon-3 i{
    padding-right: 5rem;
    color:#fff;
}


#social-media-icon-3 i:hover{    
    color:#8d8f7d;
}

.nav-logo{
    padding:15px;

}

.nav-logo img {
    border: 2px solid white ;
    border-radius: 50px 50px;
    background-color: #fff;
}

@media (min-width: 0px) and (max-width: 754px) {
    #social-media-icon i{    
        color:#fff;
    }
    
    #social-media-icon i:hover{    
        color:#8d8f7d;
    }
    
    
    #social-media-icon-1 i{
        padding: 2rem;
        color:#fff;
    }
    
    
    #social-media-icon-1 i:hover{    
        color:#8d8f7d;
    }
    
    #social-media-icon-2 i{
        padding-right: 2rem;
        color:#fff;
    }
    
    #social-media-icon-2 i:hover{    
        color:#8d8f7d;
    }
    
    
    #social-media-icon-3 i{
        padding-right: 2rem;
        color:#fff;
    }
    
    
    #social-media-icon-3 i:hover{    
        color:#8d8f7d;
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .banner-container{
        display: flex;
        flex-direction: row;
        flex-basis:100%;
        flex-wrap: wrap;
        flex-shrink:0;
        flex-grow:0;
        height: 800px;
        position: relative;
    }


    .box{
        background-color: #A9957B;
        position: absolute;
        width: 320px;
        height: 1100px;
        left: 0;
        margin-top: 280px;
    
    }

    .banner-image1 {
        position: absolute;
        top: 0;
        right: 0;
        width: 350px;
        height: 250px;

    }

    .banner-image2{
        position: absolute;
        margin-left: 100px;
        margin-top: 120px;
        width: 350px;
        height: 250px;
        
        
    }

    .info-box{
        position: absolute;
        margin-top: 28%;
        margin-left: 50%;
        padding: 15px;
        width: 320px;
        height: 240px;
        background-color: #fff;
    }

    .info-box h1{
        font-size: 20px;
    }

    .info-box p{
        font-size: 15px;
    }

    .button{
        margin-top: 20px;
        height:30px;
        width:120px;
        color:#000;
        background-color: #A9957B;
        border: none;
        font-size: 13px;
        
    }

    .section {
        display: flex;
        flex-direction: row;
        flex-basis:100%;
        flex-wrap: wrap;
        flex-shrink:0;
        flex-grow:0;
        height: 550px;
        position: relative;
        
    }

    .section-item1{
        color: #fff; 
        background: #1a1a1a; 
        text-decoration: none;
        font-size: 30px;
        width: 600px;
        height: 50px;
        padding:10px;
        position: absolute;
        letter-spacing: 1px;
        text-shadow: 0 -1px 0 #000;
        margin-top: 100px;
        margin-left: 40px;
        text-align: center;
        line-height: 30px;
    }

    .section-item2{
        color: #fff; 
        background: #1a1a1a; 
        text-decoration: none;
        position: absolute;
        padding:10px;
        font-size: 30px;
        letter-spacing: 1px;
        text-shadow: 0 -1px 0 #000;
        margin-left: 80px;
        margin-top: 160px;
        width: 600px;
        height: 50px;
        text-align: center;
        line-height: 30px;
    }

    .section-item3{
        color: #fff; 
        background: #1a1a1a; 
        text-decoration: none;
        position: absolute;
        padding:10px;
        font-size: 30px;
        letter-spacing: 1px;
        text-shadow: 0 -1px 0 #000;
        width: 600px;
        height: 50px;
        margin-left: 140px;
        margin-top: 220px;
        text-align: center;
        line-height: 30px;
    }

    .ad-box{
        display: flex;
        flex-direction: row;
        flex-basis:100%;
        flex-wrap: wrap;
        flex-shrink:0;
        flex-grow:0;
        height: 1300px;
        
    }

    .ad-box h2{
        font-size: 30px;
        margin-bottom: 20px;
    }

    .ad-box h3{
        font-size: 20px;

    }

    .ad-box .ad-box-column-1{
        display: flex;
        flex-direction: row;
        flex-basis:100%;
        flex-wrap: wrap;
        flex-shrink:0;
        flex-grow:0;
        background-color: #A0816C;
        position: absolute;
        text-align: center;
        margin-left: 200px;
        width: 400px;
        height: 340px;
        padding:25px;
    }

    .ad-box-column-1 h1{
        font-size: 40px;   
        margin-top: -50px;
    }    


    .ad-box .button{
        color:#000;
        background-color: #E8DED1;
        text-align: center;
        margin-top: 20px;
        width:180px;
        height:45px;
    }

    .ad-box .ad-box-column-2{
        display: flex;
        flex-direction: row;
        flex-basis:100%;
        flex-wrap: wrap;
        flex-shrink:0;
        flex-grow:0;
        background-color: #C8AD7E;
        position: absolute;
        text-align: center;
        width: 400px;
        height: 340px;
        padding:25px;
        margin-top: 370px;
        margin-left: 200px;
    }

    .ad-box-column-2 h1{
        font-size: 40px;   
        margin-top: -50px;
    }    
    
    .ad-box-column-3{
        display: flex;
        flex-direction: row;
        flex-basis:100%;
        flex-wrap: wrap;
        flex-shrink:0;
        flex-grow:0;
        background-color: #BFAA8C;
        position: absolute;
        margin-top: 750px;
        margin-left: 200px;
        text-align: center;
        width: 400px;
        height: 340px;
        padding:25px;
    }

    .ad-box-column-3 h1{
        font-size: 40px;   
        margin-top: -50px;
    }   

    .box2{
        right: 0;
        position: absolute;
        background-color: #A9957B;
        width: 340px;
        height: 320px;
        margin-left:100px;
        margin-top: 980px;
    }

    /*Subscribe form*/
    .subscribe-container{
        display: block;
        height: 100%;

    }

    .container {
        padding: 200px;
        background: url("../images/kristian-seedorff-BvUicqkaZZ0-unsplash.jpg");
        background-repeat: no-repeat;
        background-size: auto;
        color: #fff;
        text-align: center;
        font-size: 13px;
        
    }
    
    .container h2{
        letter-spacing: 3px;
        margin-bottom: 20px;
    }

    .container p{
        margin-bottom: 20px;
    }
    /* Style the input elements and the submit button */
    input[type=text], input[type=submit] {
        width: 60%;
        padding: 12px;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
        margin-left: 15px ;
    }
    
    /* Style the submit button */
    input[type=submit] {
        background-color: #C8AD7E;
        color: white;
        border: none;
        width: 20%;

    }
    
    input[type=submit]:hover {
        opacity: 0.8;
    }


    .box3{
        display: flex;
        flex-direction: row;
        flex-basis:100%;
        flex-wrap: wrap;
        flex-shrink:0;
        flex-grow:0;
        background-color: #A9957B;
        margin-top: 600px;
        position: absolute;
        right:0px;
        height:1300px;
        width:500px;
        
    }

    .about-us-section{
        display: flex;
        flex-direction: row;
        flex-basis:100%;
        flex-wrap: wrap;
        flex-shrink:0;
        flex-grow:0;
        height: 900px;
    }

    .about-section-image1{
    width: 500px;
    height: 400px;
    }

    .about-section-image2{
        width: 500px;
        height: 400px;
        margin-top: 200px;
        margin-left:35%;
        position: absolute;
        
    }

    .about-us-box{
        margin-top: 20%;
        margin-left: 13%;
        position:absolute;
        padding:30px;
        width: 380px;
        height: 250px;
        background-color: #fff;

    }

    .about-us-box h1{
        font-size: 30px;
    }

    .about-us-box p{
        font-size: 15px;
    }

    .button{
        margin-top: 20px;
        height:30px;
        width:120px;
        color:#000;
        background-color: #A9957B;
        border: none;
        font-size: 13px;
        
    }

    .recent-post-section{
        display: flex;
        height: auto;
        position: relative;
        
    }

    .recent-post-section h3{
    display: flex;
    flex-wrap: wrap;
    height: 300px;
    flex-basis:100%;
    flex-direction: row;
    position: absolute;
    padding: 30px;
    margin-left: 400px; 
    margin-bottom: 200px;
    font-size: 30px;
    
 
    }

    .recent-post-boxes{
        display: flex;
        flex-wrap: wrap;
        height: 1300px;
        flex-basis:100%;
        flex-direction: row;
    }


    .recent-post-box{
        display: flex;
        flex-wrap: wrap;
        flex-basis:100%;
        padding: 20px;
        flex-direction: row;
        margin-left: 20px;
    }
    .recent-post-section h1{
        font-size: 30px;    

    }

    .recent-post-section p{
        display: flex;
        flex-wrap: wrap;
        font-size: 15px;
        position: absolute;
        margin-top: 300px; 
        padding: 20px;
    }

    .recent-post-section img{
        width: 280px;
        height: 300px;
    }

    .footer{
        display: flex;
        flex-direction: row;
        flex-basis:100%;
        flex-wrap: wrap;
        height: auto;
        padding: 20px;
        background-color: #000;
    }

    #social #container {
        display: flex;
        flex-wrap: wrap;
        flex-basis:100%;
        padding: 10px;
        flex-direction: row;
        height: auto;
        margin-top: 100px;
    
    }
    
    #social #container ul {
        display: inline-flex;
        margin-left: 300px;
    
    }
    
    #social #container ul li i{
        padding:10px;
        color: #fff; 

    }

    #social #container ul li i:hover{
        color:#C8AD7E;

    }

    .footer-ad-section{
        display: flex;
        flex-wrap: wrap;
        flex-basis:100%;
        flex-direction: row;
        height:auto;
        justify-content: space-evenly;
    }

    .copyright-section{
        display: flex;
        flex-wrap: wrap;
        margin-left: 200px;
        padding: 20px;
        color: #fff;
        font-size: 15px;
        flex-direction: row;
        background-color: #000;
        
    }

}

@media (min-width: 754px) and (max-width: 1376px) {

    .content{
        margin: auto;
        position: relative;
    }

    .banner-container{
        display: flex;
        flex-direction: row;
        flex-basis:100%;
        flex-wrap: wrap;
        flex-shrink:0;
        flex-grow:0;
        height: 800px;
        position: relative;

    }

    .box{
        background-color: #A9957B;
        position: absolute;
        width: 700px;
        height: 1100px;
        left: 0;
        margin-top: 280px;
    
    }

    .banner-image1 {
        position: absolute;
        top: 0;
        right: 0;
        width: 630px;
        height: 450px;

    }

    .banner-image2{
        position: absolute;
        margin-left: 200px;
        margin-top: 200px;
        width: 650px;
        height: 450px;
        
        
    }

    .info-box{
        position: absolute;
        margin-top: 25%;
        margin-left: 55%;
        padding:30px;
        width: 480px;
        height: 240px;
        background-color: #fff;
    }

    .info-box h1{
        font-size: 30px;
    }

    .info-box p{
        font-size: 15px;
    }

    .button{
        margin-top: 20px;
        height:30px;
        width:120px;
        color:#000;
        background-color: #A9957B;
        border: none;
        font-size: 13px;
        
    }

    .section {
        display: flex;
        flex-direction: row;
        flex-basis:100%;
        flex-wrap: wrap;
        flex-shrink:0;
        flex-grow:0;
        height: 450px;
        position: relative;
        
    }

    .section-item1{
        color: #fff; 
        background: #1a1a1a; 
        text-decoration: none;
        font-size: 30px;
        width: 900px;
        height: 50px;
        padding:10px;
        position: absolute;
        letter-spacing: 1px;
        text-shadow: 0 -1px 0 #000;
        margin-top: 100px;
        margin-left: 180px;
        text-align: center;
        line-height: 30px;
    }

    .section-item2{
        color: #fff; 
        background: #1a1a1a; 
        text-decoration: none;
        position: absolute;
        padding:10px;
        font-size: 30px;
        letter-spacing: 1px;
        text-shadow: 0 -1px 0 #000;
        margin-left: 270px;
        margin-top: 160px;
        width: 900px;
        height: 50px;
        text-align: center;
        line-height: 30px;
    }

    .section-item3{
        color: #fff; 
        background: #1a1a1a; 
        text-decoration: none;
        position: absolute;
        padding:10px;
        font-size: 30px;
        letter-spacing: 1px;
        text-shadow: 0 -1px 0 #000;
        width: 900px;
        height: 50px;
        margin-left: 340px;
        margin-top: 220px;
        text-align: center;
        line-height: 30px;
    }

    .ad-box{
        display: flex;
        flex-direction: row;
        flex-basis:100%;
        flex-wrap: wrap;
        flex-shrink:0;
        flex-grow:0;
        height: 600px;
        
    }

    .ad-box h2{
        font-size: 30px;
        margin-bottom: 20px;
    }

    .ad-box h3{
        font-size: 20px;

    }

    .ad-box .ad-box-column-1{
        background-color: #A0816C;
        position: absolute;
        margin-top: 100px;
        margin-left: 60px;
        text-align: center;
        width: 400px;
        height: 340px;
        padding:25px;
    }

    .ad-box-column-1 h1{
        font-size: 40px;   
        margin-top: -50px;
    }    


    .ad-box .button{
        color:#000;
        background-color: #E8DED1;
        text-align: center;
        margin-top: 20px;
        width:180px;
        height:45px;
    }

    .ad-box .ad-box-column-2{
        background-color: #C8AD7E;
        position: absolute;
        text-align: center;
        margin-top: 100px;
        width: 400px;
        height: 340px;
        padding:25px;
        margin-left: 480px;
    }

    .ad-box-column-2 h1{
        font-size: 40px;   
        margin-top: -50px;
    }    
    
    .ad-box-column-3{
        background-color: #BFAA8C;
        position: absolute;
        margin-left:900px ;
        margin-top: 100px;
        text-align: center;
        width: 400px;
        height: 340px;
        padding:25px;
    }

    .ad-box-column-3 h1{
        font-size: 40px;   
        margin-top: -50px;
    }   

    .box2{
        right: 0;
        position: absolute;
        background-color: #A9957B;
        width: 340px;
        height: 320px;
        margin-left:100px;
        margin-top: 280px;
    }

    /*Subscribe form*/
    .subscribe-container{
        display: block;
        height: 100%;

    }

    .container {
        padding: 200px;
        background: url("../images/kristian-seedorff-BvUicqkaZZ0-unsplash.jpg");
        background-repeat: no-repeat;
        background-size: auto;
        color: #fff;
        text-align: center;
        font-size: 13px;
        
    }
    
    .container h2{
        letter-spacing: 3px;
        margin-bottom: 20px;
    }

    .container p{
        margin-bottom: 20px;
    }
    /* Style the input elements and the submit button */
    input[type=text], input[type=submit] {
        width: 25%;
        padding: 12px;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
        margin-left: 15px ;
    }
    
    /* Style the submit button */
   input[type=submit] {
        background-color: #C8AD7E;
        color: white;
        border: none;
        width: 8%;

    }
    
    input[type=submit]:hover {
        opacity: 0.8;
    }


    .box3{
        display: flex;
        flex-direction: row;
        flex-basis:100%;
        flex-wrap: wrap;
        flex-shrink:0;
        flex-grow:0;
        background-color: #A9957B;
        margin-top: 600px;
        position: absolute;
        right:0px;
        height:1000px;
        width:600px;
        
    }

    .about-us-section{
        display: flex;
        flex-direction: row;
        flex-basis:100%;
        flex-wrap: wrap;
        flex-shrink:0;
        flex-grow:0;
        height: 900px;
    }

    .about-section-image1{
    width: 600px;
    height:500px;
    }

    .about-section-image2{
        width: 600px;
        height:500px;
        position: absolute;
        margin-top: 200px;
        margin-left:35%;


    }

    .about-us-box{
        margin-top: 20%;
        margin-left: 13%;
        position:absolute;
        padding:30px;
        width: 480px;
        height: 240px;
        background-color: #fff;

    }

    .about-us-box h1{
        font-size: 30px;
    }

    .about-us-box p{
        font-size: 15px;
    }

    .button{
        margin-top: 20px;
        height:30px;
        width:120px;
        color:#000;
        background-color: #A9957B;
        border: none;
        font-size: 13px;
        
    }

    .recent-post-section{
        height: 700px;
        position: relative;
        
    }

    .recent-post-section h3{
    font-size: 30px;
    text-align: end;
    margin-right: 132px;
    margin-bottom: 50px;
    }

    .recent-post-boxes{
        display: flex;
        flex-wrap: wrap;
        flex-basis:100%;
        flex-direction: row;
        justify-content: center;
    }


    .recent-post-box{
        margin-left: 20px;
    }
    .recent-post-section h1{
        font-size: 30px;    
        margin-left: 900px;
        margin-bottom: 100px;
    }

    .recent-post-section p{
    font-size: 15px;    
    }

    .recent-post-section img{
        width: 280px;
        height: 300px;
    }

    .footer{
        display: flex;
        flex-direction: row;
        flex-basis:100%;
        flex-wrap: wrap;
        flex-shrink:0;
        flex-grow:0;
        height: 800px;
        padding: 20px;
        background-color: #000;
    }

    #social #container {
        display: flex;
        flex-wrap: wrap;
        flex-basis:100%;
        padding: 10px;
        flex-direction: row;
        height: 50px;
        margin-top: 100px;
    }
    
    #social #container ul {
        display: inline-flex;
        margin-left: 600px;
        
    
    }
    
    #social #container ul li i{
        padding:10px;
        color: #fff; 
    }

    #social #container ul li i:hover{
        color:#C8AD7E;

    }

    .footer-ad-section{
        display: flex;
        flex-wrap: wrap;
        flex-basis:100%;
        flex-direction: row;
        height: 250px;
        justify-content: space-evenly;
        margin:50px;
        
    }

    .copyright-section{
        display: flex;
        flex-basis:100%;
        flex-direction: row;
        margin-left: 500px;
        padding: 20px;
        text-align: center;
        background-color: #000;
        color: #fff;
        font-size: 15px;
    }

}

@media (min-width: 1427px) and (max-width: 2200px) {
    .content{
        margin: auto;
        position: relative;
    }

    .banner-container{
        display: flex;
        flex-direction: row;
        flex-basis:100%;
        flex-wrap: wrap;
        flex-shrink:0;
        flex-grow:0;
        height: 800px;
        position: relative;

    }

    .box{
        background-color: #A9957B;
        position: absolute;
        width: 700px;
        height: 1100px;
        left: 0;
        margin-top: 280px;
    
    }

    .banner-image1 {
        position: absolute;
        top: 0;
        right: 0;
        width: 630px;
        height: 450px;

    }

    .banner-image2{
        position: absolute;
        margin-left: 200px;
        margin-top: 200px;
        width: 650px;
        height: 450px;
        
        
    }

    .info-box{
        position: absolute;
        margin-top: 25%;
        margin-left: 55%;
        padding:30px;
        width: 480px;
        height: 240px;
        background-color: #fff;
    }

    .info-box h1{
        font-size: 30px;
    }

    .info-box p{
        font-size: 15px;
    }

    .button{
        margin-top: 20px;
        height:30px;
        width:120px;
        color:#000;
        background-color: #A9957B;
        border: none;
        font-size: 13px;
        
    }

    .section {
        display: flex;
        flex-direction: row;
        flex-basis:100%;
        flex-wrap: wrap;
        flex-shrink:0;
        flex-grow:0;
        height: 450px;
        position: relative;
        
    }

    .section-item1{
        color: #fff; 
        background: #1a1a1a; 
        text-decoration: none;
        font-size: 30px;
        width: 900px;
        height: 50px;
        padding:10px;
        position: absolute;
        letter-spacing: 1px;
        text-shadow: 0 -1px 0 #000;
        margin-top: 100px;
        margin-left: 180px;
        text-align: center;
        line-height: 30px;
    }

    .section-item2{
        color: #fff; 
        background: #1a1a1a; 
        text-decoration: none;
        position: absolute;
        padding:10px;
        font-size: 30px;
        letter-spacing: 1px;
        text-shadow: 0 -1px 0 #000;
        margin-left: 270px;
        margin-top: 160px;
        width: 900px;
        height: 50px;
        text-align: center;
        line-height: 30px;
    }

    .section-item3{
        color: #fff; 
        background: #1a1a1a; 
        text-decoration: none;
        position: absolute;
        padding:10px;
        font-size: 30px;
        letter-spacing: 1px;
        text-shadow: 0 -1px 0 #000;
        width: 900px;
        height: 50px;
        margin-left: 340px;
        margin-top: 220px;
        text-align: center;
        line-height: 30px;
    }

    .ad-box{
        display: flex;
        flex-direction: row;
        flex-basis:100%;
        flex-wrap: wrap;
        flex-shrink:0;
        flex-grow:0;
        height: 600px;
        
    }

    .ad-box h2{
        font-size: 30px;
        margin-bottom: 20px;
    }

    .ad-box h3{
        font-size: 20px;

    }

    .ad-box .ad-box-column-1{
        background-color: #A0816C;
        position: absolute;
        margin-top: 100px;
        margin-left: 60px;
        text-align: center;
        width: 400px;
        height: 340px;
        padding:25px;
    }

    .ad-box-column-1 h1{
        font-size: 40px;   
        margin-top: -50px;
    }    


    .ad-box .button{
        color:#000;
        background-color: #E8DED1;
        text-align: center;
        margin-top: 20px;
        width:180px;
        height:45px;
    }

    .ad-box .ad-box-column-2{
        background-color: #C8AD7E;
        position: absolute;
        text-align: center;
        margin-top: 100px;
        width: 400px;
        height: 340px;
        padding:25px;
        margin-left: 480px;
    }

    .ad-box-column-2 h1{
        font-size: 40px;   
        margin-top: -50px;
    }    
    
    .ad-box-column-3{
        background-color: #BFAA8C;
        position: absolute;
        margin-left:900px ;
        margin-top: 100px;
        text-align: center;
        width: 400px;
        height: 340px;
        padding:25px;
    }

    .ad-box-column-3 h1{
        font-size: 40px;   
        margin-top: -50px;
    }   

    .box2{
        right: 0;
        position: absolute;
        background-color: #A9957B;
        width: 340px;
        height: 320px;
        margin-left:100px;
        margin-top: 280px;
    }

    /*Subscribe form*/
    .subscribe-container{
        display: block;
        height: 100%;

    }

    .container {
        padding: 200px;
        background: url("../images/kristian-seedorff-BvUicqkaZZ0-unsplash.jpg");
        background-repeat: no-repeat;
        background-size: auto;
        color: #fff;
        text-align: center;
        font-size: 13px;
        
    }
    
    .container h2{
        letter-spacing: 3px;
        margin-bottom: 20px;
    }

    .container p{
        margin-bottom: 20px;
    }
    /* Style the input elements and the submit button */
    input[type=text], input[type=submit] {
        width: 25%;
        padding: 12px;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
        margin-left: 15px ;
    }
    
    /* Style the submit button */
   input[type=submit] {
        background-color: #C8AD7E;
        color: white;
        border: none;
        width: 8%;

    }
    
    input[type=submit]:hover {
        opacity: 0.8;
    }


    .box3{
        display: flex;
        flex-direction: row;
        flex-basis:100%;
        flex-wrap: wrap;
        flex-shrink:0;
        flex-grow:0;
        background-color: #A9957B;
        margin-top: 600px;
        position: absolute;
        right:0px;
        height:1000px;
        width:600px;
        
    }

    .about-us-section{
        display: flex;
        flex-direction: row;
        flex-basis:100%;
        flex-wrap: wrap;
        flex-shrink:0;
        flex-grow:0;
        height: 900px;
    }

    .about-section-image1{
    width: 600px;
    height:500px;
    }

    .about-section-image2{
        width: 600px;
        height:500px;
        position: absolute;
        margin-top: 200px;
        margin-left:35%;


    }

    .about-us-box{
        margin-top: 20%;
        margin-left: 13%;
        position:absolute;
        padding:30px;
        width: 480px;
        height: 240px;
        background-color: #fff;

    }

    .about-us-box h1{
        font-size: 30px;
    }

    .about-us-box p{
        font-size: 15px;
    }

    .button{
        margin-top: 20px;
        height:30px;
        width:120px;
        color:#000;
        background-color: #A9957B;
        border: none;
        font-size: 13px;
        
    }

    .recent-post-section{
        height: 700px;
        position: relative;
        
    }

    .recent-post-section h3{
    font-size: 30px;
    text-align: end;
    margin-right: 132px;
    margin-bottom: 50px;
    }

    .recent-post-boxes{
        display: flex;
        flex-wrap: wrap;
        flex-basis:100%;
        flex-direction: row;
        justify-content: center;
    }


    .recent-post-box{
        margin-left: 20px;
    }
    .recent-post-section h1{
        font-size: 30px;    
        margin-left: 900px;
        margin-bottom: 100px;
    }

    .recent-post-section p{
    font-size: 15px;    
    }

    .recent-post-section img{
        width: 280px;
        height: 300px;
    }

    .footer{
        display: flex;
        flex-direction: row;
        flex-basis:100%;
        flex-wrap: wrap;
        flex-shrink:0;
        flex-grow:0;
        height: 800px;
        padding: 20px;
        background-color: #000;
    }

    #social #container {
        display: flex;
        flex-wrap: wrap;
        flex-basis:100%;
        padding: 10px;
        flex-direction: row;
        height: 50px;
        margin-top: 100px;
    }
    
    #social #container ul {
        display: inline-flex;
        margin-left: 600px;
        
    
    }
    
    #social #container ul li i{
        padding:10px;
        color: #fff; 
    }

    #social #container ul li i:hover{
        color:#C8AD7E;

    }

    .footer-ad-section{
        display: flex;
        flex-wrap: wrap;
        flex-basis:100%;
        flex-direction: row;
        height: 250px;
        justify-content: space-evenly;
        margin:50px;
        
    }

    .copyright-section{
        display: flex;
        flex-basis:100%;
        flex-direction: row;
        margin-left: 500px;
        padding: 20px;
        text-align: center;
        background-color: #000;
        color: #fff;
        font-size: 15px;
    }

}
